.calendar_item_wrapper h4 {
  font-size: 12pt;
  font-weight: 400;
}

.calendar_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.remove_tag{
  opacity: 0;
  cursor: pointer;
  transition: .2s;
}

@media (max-width:1100px){
  .remove_tag {
    opacity: 1;
  }
}

#remove_task {
  font-size: 20pt;
  color: var(--red);
  cursor: pointer;
}

.calendar_item_wrapper:hover .remove_tag {
  opacity: 1;
}

.date_time_event {
  min-height: 30px;
  width: 55px;
  margin: 10px 0px;
  border-radius: 8px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

@media(max-width:500px){
  .calendar_item_wrapper{
    flex-direction: column;
  }
  #event {
    margin-bottom: 100px;
  }
}

#date {
  color: var(--yellow);
  font-weight: bold;
  font-size: 14pt;
}

#time {
  color: var(--light_gray);
  background-color: var(--orange);
  padding: 0 5px;
}

#event{
  width: 200px;
  justify-content: left;
}